@import "tailwindcss";
@keyframes loading {
  0% { transform: translateX(-100%); width: 20%; }
  50% { width: 60%; }
  100% { transform: translateX(300%); width: 20%; }
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.dashboard-scale {
  transform: scale(0.75);
  transform-origin: top left;
  width: 133.3333%;
  height: 133.3333%;
}
